@using ECommerce.Entity
@model IEnumerable<OrderDetail>
@{
    ViewBag.Title = "DetailList";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<section class="section pt-0">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <form class="shop-cart" method="post" action="#">

                    <div class="table-responsive">
                        <table class="shop-cart-table w-100">
                            <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-name"><strong>@Html.DisplayNameFor(model => model.Product.Photo)</strong></th>
                                    <th class="product-name"><strong>@Html.DisplayNameFor(model => model.Product.ProductName)</strong></th>
                                    <th class="product-name"><strong>@Html.DisplayNameFor(model => model.Quantity)</strong></th>
                                    <th class="product-price"><strong>@Html.DisplayNameFor(model => model.Price)</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="cart-item">
                                        <td class="product-remove">
                                            <a href="~/Order/Delete/@item.ProductId"><i class="fas fa-times" aria-label="Remove"></i></a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <img src="~/Upload/@item.Product.Photo" class="img-fluid" width="67" alt="" />
                                        </td>
                                        <td class="product-name">
                                            <a href="~/Home/Detail/@item.ProductId" target="_blank">@item.Product.ProductName</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-price">@item.Quantity</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="unit-price">$@item.Price</span>
                                        </td>
                                    </tr>
                                }
                                @{
                                    Order o = (Order)Session["Order"];
                                    <tr class="cart-item">
                                        <td class="product-remove"></td>
                                        <td class="product-thumbnail"></td>
                                        <td class="product-name"></td>
                                        <td class="product-price"></td>
                                        <td class="product-subtotal">
                                            <span class="sub-total"><strong>Total: $@o.TotalPrice.Value</strong></span>
                                        </td>
                                    </tr>

                                    <tr class="border-bottom-0">
                                        <td colspan="6" class="px-0">
                                            <div class="row mx-0">
                                                <div class="col-md-5 px-0 mb-3 mb-md-0">
                                                </div>
                                                <div class="col-md-7 text-right px-0">
                                                    <a href="~/Payment/Pay" class="btn btn-primary btn-rounded font-weight-bold btn-h-2 btn-v-3">CONTINUE PURCHASE</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

