@using ECommerce.Sample.Models.VM;
@model LoginVM

@{
    ViewBag.Title = "SingIn";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-5 mb-md-0">
                <div class="bg-primary rounded p-5">
                    <span class="top-sub-title text-color-light-2">ALREADY A MEMBER?</span>
                    <h2 class="text-color-light font-weight-bold text-4 mb-4">Sign In</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-row">
                            <div class="form-group col mb-2">
                                <label class="text-color-light-2" for="shopLoginSignInEmail">EMAIL / USERNAME</label>
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Please enter your Email", @class = "form-control bg-light border-0 rounded text-1" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="text-color-light-2" for="shopLoginSignInPassword">PASSWORD</label>
                                @Html.PasswordFor(x => x.Password, new { @placeholder = "Please enter your password", @class = "form-control bg-light border-0 rounded text-1" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x => x.Email)
                        @Html.ValidationMessageFor(x => x.Password)
                        @ViewBag.Massage
                        <div class="row align-items-center">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-dark btn-rounded btn-v-3 btn-h-3 font-weight-bold">SIGN IN</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8 pt-3">
                <span class="top-sub-title">NEW USER</span>
                <form id="shopLoginRegister" action="#" method="post">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label class="text-color-dark" for="shopLoginRegisterName">NAME:</label>
                            <input type="text" value="" class="form-control bg-light-5 border-0 rounded" name="name" id="shopLoginRegisterName" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="text-color-dark" for="shopLoginRegisterEmail">EMAIL ADDRESS:</label>
                            <input type="email" value="" class="form-control bg-light-5 border-0 rounded" name="email" id="shopLoginRegisterEmail" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label class="text-color-dark" for="shopLoginRegisterUsername">USERNAME:</label>
                            <input type="text" value="" class="form-control bg-light-5 border-0 rounded" name="username" id="shopLoginRegisterUsername" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="text-color-dark" for="shopLoginRegisterPhone">PHONE:</label>
                            <input type="email" value="" class="form-control bg-light-5 border-0 rounded" name="phone" id="shopLoginRegisterPhone" required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="form-group col-lg-6">
                            <label class="text-color-dark" for="shopLoginRegisterPassword">PASSWORD:</label>
                            <input type="password" value="" class="form-control bg-light-5 border-0 rounded" name="username" id="shopLoginRegisterPassword" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="text-color-dark" for="shopLoginRegisterPassword2">RE-ENTER PASSWORD:</label>
                            <input type="password" value="" class="form-control bg-light-5 border-0 rounded" name="password" id="shopLoginRegisterPassword2" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary btn-rounded btn-v-3 btn-h-3 font-weight-bold">REGISTER NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

