@using ECommerce.Sample.Models.VM;
@model LoginVM

@{
    ViewBag.Title = "SingIn";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-5 mb-md-0">
                <div class="bg-primary rounded p-5">
                    <span class="top-sub-title text-color-light-2">ALREADY A MEMBER?</span>
                    <h2 class="text-color-light font-weight-bold text-4 mb-4">Sign In</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-row">
                            <div class="form-group col mb-2">
                                <label class="text-color-light-2" for="shopLoginSignInEmail">EMAIL / USERNAME</label>
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Please enter your Email", @class = "form-control bg-light border-0 rounded text-1" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="text-color-light-2" for="shopLoginSignInPassword">PASSWORD</label>
                                @Html.PasswordFor(x => x.Password, new { @placeholder = "Please enter your password", @class = "form-control bg-light border-0 rounded text-1" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x => x.Email)
                        @Html.ValidationMessageFor(x => x.Password)
                        @ViewBag.Massage
                        <div class="row align-items-center">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-dark btn-rounded btn-v-3 btn-h-3 font-weight-bold">SIGN IN</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

            @Html.Partial("~/Views/Login/_LoginSingIn.cshtml")


        </div>
    </div>
</section>

