@using ECommerce.Entity
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}
@model IEnumerable<Category>
<header class="page-header">
    <h2>List Category</h2>


</header>

<table class="table table-responsive-md mb-0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.CategoryName)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>@Html.DisplayNameFor(x => x.CreatedDate)</th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
            <td>@item.CreatedDate</td>
            <td class="actions">
                <a href=""><i class="fas fa-pencil-alt"></i></a>
                <a href="" class="delete-row"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        }


    </tbody>
</table>
