@using ECommerce.Entity

@model IEnumerable<Category>
@model Category
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}

<header class="page-header">
    <h2>List Category</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="#modalForm" class="btn btn-primary text-white modal-with-form"><i class="fas fa-plus"></i> Add Category</a>
            </li>
        </ol>

        <span class="sidebar-right-toggle"></span>
    </div>
</header>

<table class="table table-responsive-md mb-0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.CategoryName)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td class="actions">
                    <a href="#modalForm2" class="modal-with-form"><i class="fas fa-pencil-alt"></i></a>
                    <a href="~/Admin/Category/Delete/@item.CategoryId" class="delete-row"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal Form -->
<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
    @Html.BeginForm("AddCategory", "Category"){
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Add Category</h2>
        </header>
        <div class="card-body">

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Category Name</label>
                    <input type="text" class="form-control" name="CategoryName" id="inputEmail4" placeholder="Category Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Description</label>
                <textarea rows="5" type="text" name="Description" class="form-control" id="inputAddress" placeholder="Description"></textarea>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">Add</button>
                    @Html.ActionLink("Cancel", "List", new { @class = "btn btn-default" })
                </div>
            </div>
        </footer>

    </section>
    }
</div>


<!-- Modal Form -->
<div id="modalForm2" class="modal-block modal-block-primary mfp-hide">
    @Html.BeginForm("AddCategory", "Category"){

    @Html.HiddenFor(x => x.CategoryId)
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Add Category</h2>
        </header>
        <div class="card-body">

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Category Name</label>
                    <input type="text" class="form-control" name="CategoryName" id="inputEmail4" placeholder="Category Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Description</label>
                <textarea rows="5" type="text" name="Description" class="form-control" id="inputAddress" placeholder="Description"></textarea>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">Add</button>
                    @Html.ActionLink("Cancel", "List", new { @class = "btn btn-default" })
                </div>
            </div>
        </footer>

    </section>
    }
</div>