@using ECommerce.Entity

@model IEnumerable<Category>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}

<header class="page-header">
    <h2>List Category</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("AddCategory","Category")" class="btn btn-primary text-white"><i class="fas fa-plus"></i> Add Category</a>
            </li>
        </ol>

        <span class="sidebar-right-toggle"></span>
    </div>
</header>

@if (ViewBag.Resultt == true)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Operation Successful</strong>
    </div>
}
else if(ViewBag.Resultt == false && ViewBag.Resultt != true)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Operation Failed</strong>
    </div>
}


<table class="table table-responsive-md mb-0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.CategoryName)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td class="actions">
                    <a href="~/Admin/Category/Edit/@item.CategoryId"><i class="fas fa-pencil-alt"></i></a>
                    <a href="~/Admin/Category/Delete/@item.CategoryId" class="delete-row"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>





