@using ECommerce.Sample.Areas.Admin.Models.ViewModel
@using ECommerce.Entity
@model UserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}

<header class="page-header">
    <h2>Edit User</h2>
</header>
<!-- Modal Form -->

<section class="card">
    <header class="card-header">
        <h2 class="card-title">Edit User</h2>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Member.UserId)
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">First Name</label>
                    @Html.EditorFor(model => model.Member.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Last Name</label>
                    @Html.EditorFor(model => model.Member.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Email</label>
                    @Html.EditorFor(model => model.Member.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Password</label>
                    @Html.EditorFor(model => model.Member.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Address</label>
                    @Html.EditorFor(model => model.Member.Address, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Role</label>
                    @Html.DropDownListFor(model => model.Member.RoleId, Model.UserList, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">Edit</button>
                    @Html.ActionLink("Cancel", "List", new { @class = "btn btn-default" })
                </div>
            </div>
        </footer>
    }
</section>

