@model IEnumerable<ECommerce.Entity.Member>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}

<header class="page-header">
    <h2>List User</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("AddUser","User")" class="btn btn-primary text-white"><i class="fas fa-plus"></i> Add User</a>
            </li>
        </ol>

        <span class="sidebar-right-toggle"></span>
    </div>
</header>

@if (ViewBag.Resultt == true)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Operation Successful</strong>
    </div>
}
else if (ViewBag.Resultt == false && ViewBag.Resultt != true)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Operation Failed</strong>
    </div>
}


<table class="table table-responsive-md mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Edit & Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="actions">
                <a href="~/Admin/User/Edit/@item.UserId"><i class="fas fa-pencil-alt"></i></a>
                <a href="~/Admin/User/Delete/@item.UserId" class="delete-row"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>


